[submodule "biofid-gazetteer"]
	path = biofid-gazetteer
	url = https://github.com/m-stoeckel/biofid-gazetteer.git
[submodule "agreement"]
	path = agreement
	url = https://github.com/m-stoeckel/agreement.git
[submodule "biofid-agreement"]
	path = biofid-agreement
	url = https://github.com/m-stoeckel/biofid-agreement.git
